#projectImages,
#projectText {
    width: 100%;
}

#projectImages img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

#projectText {
    min-height: 300px;
}

#projectText .carousel-item {
    min-height: 300px;
}

#projectText .carousel-item.active {
    display: flex;
    align-items: center;
}


body {
    background-image: url("./img/Weathered Vintage Parchment Texture.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
}



/* Main body text */
body {
    font-family: 'Lora', serif;
    color: #302719;
    line-height: 1.7;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 600;
    color: #4b321c;
}

/* Paragraphs */
p {
    font-family: 'Lora', serif;
    line-height: 1.7;
    font-size: large;
}
